.page {
    padding: 20% 30% 20% 30%;
}

.sign-up-panel {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

// .sign-up-panel__username-field {}

// .sign-up-panel__password-field {}

.sign-up-panel__button {
    background-color: blue;
    color: white;
}